In [1]:
'''
Since date ranges seem to be inconsistant across data, 
let's create two data frames with continuous calendar dates to refer to.

all date ranges 2013-01-01 to 2017-08-31
training date ranges 2013-01-01 to 2017-08-15
testing date ranges 2017-08-16 to 2017-08-31
'''

import pandas as pd

In [2]:
training_dates_df = pd.DataFrame(pd.date_range('2013-01-01', '2017-08-15'))
training_dates_df.columns = ['date']
training_dates_df

           date
0    2013-01-01
1    2013-01-02
2    2013-01-03
3    2013-01-04
4    2013-01-05
5    2013-01-06
6    2013-01-07
7    2013-01-08
8    2013-01-09
9    2013-01-10
10   2013-01-11
11   2013-01-12
12   2013-01-13
13   2013-01-14
14   2013-01-15
15   2013-01-16
16   2013-01-17
17   2013-01-18
18   2013-01-19
19   2013-01-20
20   2013-01-21
21   2013-01-22
22   2013-01-23
23   2013-01-24
24   2013-01-25
25   2013-01-26
26   2013-01-27
27   2013-01-28
28   2013-01-29
29   2013-01-30
...         ...
1658 2017-07-17
1659 2017-07-18
1660 2017-07-19
1661 2017-07-20
1662 2017-07-21
1663 2017-07-22
1664 2017-07-23
1665 2017-07-24
1666 2017-07-25
1667 2017-07-26
1668 2017-07-27
1669 2017-07-28
1670 2017-07-29
1671 2017-07-30
1672 2017-07-31
1673 2017-08-01
1674 2017-08-02
1675 2017-08-03
1676 2017-08-04
1677 2017-08-05
1678 2017-08-06
1679 2017-08-07
1680 2017-08-08
1681 2017-08-09
1682 2017-08-10
1683 2017-08-11
1684 2017-08-12
1685 2017-08-13
1686 2017-08-14
1687 2017-08-15

[1688 rows x 1 columns]

In [3]:
# df['DOB1'] = df['DOB'].dt.strftime('%m/%d/%Y')

training_dates_df['month'] = training_dates_df['date'].dt.strftime('%m')
training_dates_df['day'] = training_dates_df['date'].dt.strftime('%d')
training_dates_df['year'] = training_dates_df['date'].dt.strftime('%Y')

training_dates_df

           date month day  year
0    2013-01-01    01  01  2013
1    2013-01-02    01  02  2013
2    2013-01-03    01  03  2013
3    2013-01-04    01  04  2013
4    2013-01-05    01  05  2013
5    2013-01-06    01  06  2013
6    2013-01-07    01  07  2013
7    2013-01-08    01  08  2013
8    2013-01-09    01  09  2013
9    2013-01-10    01  10  2013
10   2013-01-11    01  11  2013
11   2013-01-12    01  12  2013
12   2013-01-13    01  13  2013
13   2013-01-14    01  14  2013
14   2013-01-15    01  15  2013
15   2013-01-16    01  16  2013
16   2013-01-17    01  17  2013
17   2013-01-18    01  18  2013
18   2013-01-19    01  19  2013
19   2013-01-20    01  20  2013
20   2013-01-21    01  21  2013
21   2013-01-22    01  22  2013
22   2013-01-23    01  23  2013
23   2013-01-24    01  24  2013
24   2013-01-25    01  25  2013
25   2013-01-26    01  26  2013
26   2013-01-27    01  27  2013
27   2013-01-28    01  28  2013
28   2013-01-29    01  29  2013
29   2013-01-30    01  30  2013
...         ...   ...  ..   ...
1658 2017-07-17    07  17  2017
1659 2017-07-18    07  18  2017
1660 2017-07-19    07  19  2017
1661 2017-07-20    07  20  2017
1662 2017-07-21    07  21  2017
1663 2017-07-22    07  22  2017
1664 2017-07-23    07  23  2017
1665 2017-07-24    07  24  2017
1666 2017-07-25    07  25  2017
1667 2017-07-26    07  26  2017
1668 2017-07-27    07  27  2017
1669 2017-07-28    07  28  2017
1670 2017-07-29    07  29  2017
1671 2017-07-30    07  30  2017
1672 2017-07-31    07  31  2017
1673 2017-08-01    08  01  2017
1674 2017-08-02    08  02  2017
1675 2017-08-03    08  03  2017
1676 2017-08-04    08  04  2017
1677 2017-08-05    08  05  2017
1678 2017-08-06    08  06  2017
1679 2017-08-07    08  07  2017
1680 2017-08-08    08  08  2017
1681 2017-08-09    08  09  2017
1682 2017-08-10    08  10  2017
1683 2017-08-11    08  11  2017
1684 2017-08-12    08  12  2017
1685 2017-08-13    08  13  2017
1686 2017-08-14    08  14  2017
1687 2017-08-15    08  15  2017

[1688 rows x 4 columns]

In [4]:
training_dates_df.to_csv('modified_data/train_dates.csv', index=False)

In [5]:
testing_dates_df = pd.DataFrame(pd.date_range('2017-08-16', '2017-08-31'))
testing_dates_df.columns = ['date']
testing_dates_df

         date
0  2017-08-16
1  2017-08-17
2  2017-08-18
3  2017-08-19
4  2017-08-20
5  2017-08-21
6  2017-08-22
7  2017-08-23
8  2017-08-24
9  2017-08-25
10 2017-08-26
11 2017-08-27
12 2017-08-28
13 2017-08-29
14 2017-08-30
15 2017-08-31

In [6]:
testing_dates_df['month'] = testing_dates_df['date'].dt.strftime('%m')
testing_dates_df['day'] = testing_dates_df['date'].dt.strftime('%d')
testing_dates_df['year'] = testing_dates_df['date'].dt.strftime('%Y')

testing_dates_df

         date month day  year
0  2017-08-16    08  16  2017
1  2017-08-17    08  17  2017
2  2017-08-18    08  18  2017
3  2017-08-19    08  19  2017
4  2017-08-20    08  20  2017
5  2017-08-21    08  21  2017
6  2017-08-22    08  22  2017
7  2017-08-23    08  23  2017
8  2017-08-24    08  24  2017
9  2017-08-25    08  25  2017
10 2017-08-26    08  26  2017
11 2017-08-27    08  27  2017
12 2017-08-28    08  28  2017
13 2017-08-29    08  29  2017
14 2017-08-30    08  30  2017
15 2017-08-31    08  31  2017

In [7]:
testing_dates_df.to_csv('modified_data/test_dates.csv', index=False)

In [8]:
all_dates = pd.DataFrame(pd.date_range('2013-01-01', '2017-08-31'))
all_dates.columns = ['date']
all_dates['month'] = all_dates['date'].dt.strftime('%m')
all_dates['day'] = all_dates['date'].dt.strftime('%d')
all_dates['year'] = all_dates['date'].dt.strftime('%Y')
all_dates

           date month day  year
0    2013-01-01    01  01  2013
1    2013-01-02    01  02  2013
2    2013-01-03    01  03  2013
3    2013-01-04    01  04  2013
4    2013-01-05    01  05  2013
5    2013-01-06    01  06  2013
6    2013-01-07    01  07  2013
7    2013-01-08    01  08  2013
8    2013-01-09    01  09  2013
9    2013-01-10    01  10  2013
10   2013-01-11    01  11  2013
11   2013-01-12    01  12  2013
12   2013-01-13    01  13  2013
13   2013-01-14    01  14  2013
14   2013-01-15    01  15  2013
15   2013-01-16    01  16  2013
16   2013-01-17    01  17  2013
17   2013-01-18    01  18  2013
18   2013-01-19    01  19  2013
19   2013-01-20    01  20  2013
20   2013-01-21    01  21  2013
21   2013-01-22    01  22  2013
22   2013-01-23    01  23  2013
23   2013-01-24    01  24  2013
24   2013-01-25    01  25  2013
25   2013-01-26    01  26  2013
26   2013-01-27    01  27  2013
27   2013-01-28    01  28  2013
28   2013-01-29    01  29  2013
29   2013-01-30    01  30  2013
...         ...   ...  ..   ...
1674 2017-08-02    08  02  2017
1675 2017-08-03    08  03  2017
1676 2017-08-04    08  04  2017
1677 2017-08-05    08  05  2017
1678 2017-08-06    08  06  2017
1679 2017-08-07    08  07  2017
1680 2017-08-08    08  08  2017
1681 2017-08-09    08  09  2017
1682 2017-08-10    08  10  2017
1683 2017-08-11    08  11  2017
1684 2017-08-12    08  12  2017
1685 2017-08-13    08  13  2017
1686 2017-08-14    08  14  2017
1687 2017-08-15    08  15  2017
1688 2017-08-16    08  16  2017
1689 2017-08-17    08  17  2017
1690 2017-08-18    08  18  2017
1691 2017-08-19    08  19  2017
1692 2017-08-20    08  20  2017
1693 2017-08-21    08  21  2017
1694 2017-08-22    08  22  2017
1695 2017-08-23    08  23  2017
1696 2017-08-24    08  24  2017
1697 2017-08-25    08  25  2017
1698 2017-08-26    08  26  2017
1699 2017-08-27    08  27  2017
1700 2017-08-28    08  28  2017
1701 2017-08-29    08  29  2017
1702 2017-08-30    08  30  2017
1703 2017-08-31    08  31  2017

[1704 rows x 4 columns]

In [9]:
all_dates.to_csv('modified_data/all_dates.csv', index=False)