### Objective--
Review transaction numbers, and oil prices to optimize for a neural network.

## Explore Oil
- find and fill missing dates
- create a new column that describes the CHANGE in price, rather than the price itself

In [1]:
import pandas as pd
from collections import Counter

In [2]:
oil_df = pd.read_csv('data/oil.csv')
oil_df

            date  dcoilwtico
0     2013-01-01         NaN
1     2013-01-02       93.14
2     2013-01-03       92.97
3     2013-01-04       93.12
4     2013-01-07       93.20
5     2013-01-08       93.21
6     2013-01-09       93.08
7     2013-01-10       93.81
8     2013-01-11       93.60
9     2013-01-14       94.27
10    2013-01-15       93.26
11    2013-01-16       94.28
12    2013-01-17       95.49
13    2013-01-18       95.61
14    2013-01-21         NaN
15    2013-01-22       96.09
16    2013-01-23       95.06
17    2013-01-24       95.35
18    2013-01-25       95.15
19    2013-01-28       95.95
20    2013-01-29       97.62
21    2013-01-30       97.98
22    2013-01-31       97.65
23    2013-02-01       97.46
24    2013-02-04       96.21
25    2013-02-05       96.68
26    2013-02-06       96.44
27    2013-02-07       95.84
28    2013-02-08       95.71
29    2013-02-11       97.01
...          ...         ...
1188  2017-07-21       45.78
1189  2017-07-24       46.21
1190  2017-07-25       47.77
1191  2017-07-26       48.58
1192  2017-07-27       49.05
1193  2017-07-28       49.72
1194  2017-07-31       50.21
1195  2017-08-01       49.19
1196  2017-08-02       49.60
1197  2017-08-03       49.03
1198  2017-08-04       49.57
1199  2017-08-07       49.37
1200  2017-08-08       49.07
1201  2017-08-09       49.59
1202  2017-08-10       48.54
1203  2017-08-11       48.81
1204  2017-08-14       47.59
1205  2017-08-15       47.57
1206  2017-08-16       46.80
1207  2017-08-17       47.07
1208  2017-08-18       48.59
1209  2017-08-21       47.39
1210  2017-08-22       47.65
1211  2017-08-23       48.45
1212  2017-08-24       47.24
1213  2017-08-25       47.65
1214  2017-08-28       46.40
1215  2017-08-29       46.46
1216  2017-08-30       45.96
1217  2017-08-31       47.26

[1218 rows x 2 columns]

In [3]:
# are their any null values
null_oil_df = oil_df.isnull()
null_oil_df.describe()
print("\n",Counter(null_oil_df['dcoilwtico']))

 Counter({False: 1175, True: 43})

In [4]:
# check for duplicate dates
Counter(oil_df.duplicated('date', keep=False))

Counter({False: 1218})

In [5]:
# The first oil data point is NaN, but it seems more reasonable to assume the price of oil was the same as the next day,
# rather than setting it to 0. While it is just one data point, it will hopefully have a better impact on our neural 
# network than setting it to 0.
oil_df.set_value(0,'dcoilwtico',93.14)
print(oil_df['dcoilwtico'][0])

93.14

/Users/carleton/anaconda3/envs/repos/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

In [6]:
# Since our current data frame is missing dates, we should merge our dataset with continuous dates.
all_dates = pd.read_csv('new_data/all_dates.csv')
oil_df = all_dates.merge(oil_df, on='date', how='left')
oil_df

            date  month  day  year  dcoilwtico
0     2013-01-01      1    1  2013       93.14
1     2013-01-02      1    2  2013       93.14
2     2013-01-03      1    3  2013       92.97
3     2013-01-04      1    4  2013       93.12
4     2013-01-05      1    5  2013         NaN
5     2013-01-06      1    6  2013         NaN
6     2013-01-07      1    7  2013       93.20
7     2013-01-08      1    8  2013       93.21
8     2013-01-09      1    9  2013       93.08
9     2013-01-10      1   10  2013       93.81
10    2013-01-11      1   11  2013       93.60
11    2013-01-12      1   12  2013         NaN
12    2013-01-13      1   13  2013         NaN
13    2013-01-14      1   14  2013       94.27
14    2013-01-15      1   15  2013       93.26
15    2013-01-16      1   16  2013       94.28
16    2013-01-17      1   17  2013       95.49
17    2013-01-18      1   18  2013       95.61
18    2013-01-19      1   19  2013         NaN
19    2013-01-20      1   20  2013         NaN
20    2013-01-21      1   21  2013         NaN
21    2013-01-22      1   22  2013       96.09
22    2013-01-23      1   23  2013       95.06
23    2013-01-24      1   24  2013       95.35
24    2013-01-25      1   25  2013       95.15
25    2013-01-26      1   26  2013         NaN
26    2013-01-27      1   27  2013         NaN
27    2013-01-28      1   28  2013       95.95
28    2013-01-29      1   29  2013       97.62
29    2013-01-30      1   30  2013       97.98
...          ...    ...  ...   ...         ...
1674  2017-08-02      8    2  2017       49.60
1675  2017-08-03      8    3  2017       49.03
1676  2017-08-04      8    4  2017       49.57
1677  2017-08-05      8    5  2017         NaN
1678  2017-08-06      8    6  2017         NaN
1679  2017-08-07      8    7  2017       49.37
1680  2017-08-08      8    8  2017       49.07
1681  2017-08-09      8    9  2017       49.59
1682  2017-08-10      8   10  2017       48.54
1683  2017-08-11      8   11  2017       48.81
1684  2017-08-12      8   12  2017         NaN
1685  2017-08-13      8   13  2017         NaN
1686  2017-08-14      8   14  2017       47.59
1687  2017-08-15      8   15  2017       47.57
1688  2017-08-16      8   16  2017       46.80
1689  2017-08-17      8   17  2017       47.07
1690  2017-08-18      8   18  2017       48.59
1691  2017-08-19      8   19  2017         NaN
1692  2017-08-20      8   20  2017         NaN
1693  2017-08-21      8   21  2017       47.39
1694  2017-08-22      8   22  2017       47.65
1695  2017-08-23      8   23  2017       48.45
1696  2017-08-24      8   24  2017       47.24
1697  2017-08-25      8   25  2017       47.65
1698  2017-08-26      8   26  2017         NaN
1699  2017-08-27      8   27  2017         NaN
1700  2017-08-28      8   28  2017       46.40
1701  2017-08-29      8   29  2017       46.46
1702  2017-08-30      8   30  2017       45.96
1703  2017-08-31      8   31  2017       47.26

[1704 rows x 5 columns]

In [7]:
# double check null values

null_oil_df = oil_df.isnull()
print(Counter(null_oil_df['dcoilwtico']))

Counter({False: 1176, True: 528})

In [8]:
# interpolation

oil_df = oil_df.interpolate(method='linear')
oil_df

            date  month  day  year  dcoilwtico
0     2013-01-01      1    1  2013   93.140000
1     2013-01-02      1    2  2013   93.140000
2     2013-01-03      1    3  2013   92.970000
3     2013-01-04      1    4  2013   93.120000
4     2013-01-05      1    5  2013   93.146667
5     2013-01-06      1    6  2013   93.173333
6     2013-01-07      1    7  2013   93.200000
7     2013-01-08      1    8  2013   93.210000
8     2013-01-09      1    9  2013   93.080000
9     2013-01-10      1   10  2013   93.810000
10    2013-01-11      1   11  2013   93.600000
11    2013-01-12      1   12  2013   93.823333
12    2013-01-13      1   13  2013   94.046667
13    2013-01-14      1   14  2013   94.270000
14    2013-01-15      1   15  2013   93.260000
15    2013-01-16      1   16  2013   94.280000
16    2013-01-17      1   17  2013   95.490000
17    2013-01-18      1   18  2013   95.610000
18    2013-01-19      1   19  2013   95.730000
19    2013-01-20      1   20  2013   95.850000
20    2013-01-21      1   21  2013   95.970000
21    2013-01-22      1   22  2013   96.090000
22    2013-01-23      1   23  2013   95.060000
23    2013-01-24      1   24  2013   95.350000
24    2013-01-25      1   25  2013   95.150000
25    2013-01-26      1   26  2013   95.416667
26    2013-01-27      1   27  2013   95.683333
27    2013-01-28      1   28  2013   95.950000
28    2013-01-29      1   29  2013   97.620000
29    2013-01-30      1   30  2013   97.980000
...          ...    ...  ...   ...         ...
1674  2017-08-02      8    2  2017   49.600000
1675  2017-08-03      8    3  2017   49.030000
1676  2017-08-04      8    4  2017   49.570000
1677  2017-08-05      8    5  2017   49.503333
1678  2017-08-06      8    6  2017   49.436667
1679  2017-08-07      8    7  2017   49.370000
1680  2017-08-08      8    8  2017   49.070000
1681  2017-08-09      8    9  2017   49.590000
1682  2017-08-10      8   10  2017   48.540000
1683  2017-08-11      8   11  2017   48.810000
1684  2017-08-12      8   12  2017   48.403333
1685  2017-08-13      8   13  2017   47.996667
1686  2017-08-14      8   14  2017   47.590000
1687  2017-08-15      8   15  2017   47.570000
1688  2017-08-16      8   16  2017   46.800000
1689  2017-08-17      8   17  2017   47.070000
1690  2017-08-18      8   18  2017   48.590000
1691  2017-08-19      8   19  2017   48.190000
1692  2017-08-20      8   20  2017   47.790000
1693  2017-08-21      8   21  2017   47.390000
1694  2017-08-22      8   22  2017   47.650000
1695  2017-08-23      8   23  2017   48.450000
1696  2017-08-24      8   24  2017   47.240000
1697  2017-08-25      8   25  2017   47.650000
1698  2017-08-26      8   26  2017   47.233333
1699  2017-08-27      8   27  2017   46.816667
1700  2017-08-28      8   28  2017   46.400000
1701  2017-08-29      8   29  2017   46.460000
1702  2017-08-30      8   30  2017   45.960000
1703  2017-08-31      8   31  2017   47.260000

[1704 rows x 5 columns]

In [9]:
null_oil_df = oil_df.isnull()
null_oil_df.describe()

         date  month    day   year dcoilwtico
count    1704   1704   1704   1704       1704
unique      1      1      1      1          1
top     False  False  False  False      False
freq     1704   1704   1704   1704       1704

In [10]:
# scale oil prices to 1-hot encodings of other data
oil_df['oil/100'] = oil_df['dcoilwtico'].divide(100)
oil_df

            date  month  day  year  dcoilwtico   oil/100
0     2013-01-01      1    1  2013   93.140000  0.931400
1     2013-01-02      1    2  2013   93.140000  0.931400
2     2013-01-03      1    3  2013   92.970000  0.929700
3     2013-01-04      1    4  2013   93.120000  0.931200
4     2013-01-05      1    5  2013   93.146667  0.931467
5     2013-01-06      1    6  2013   93.173333  0.931733
6     2013-01-07      1    7  2013   93.200000  0.932000
7     2013-01-08      1    8  2013   93.210000  0.932100
8     2013-01-09      1    9  2013   93.080000  0.930800
9     2013-01-10      1   10  2013   93.810000  0.938100
10    2013-01-11      1   11  2013   93.600000  0.936000
11    2013-01-12      1   12  2013   93.823333  0.938233
12    2013-01-13      1   13  2013   94.046667  0.940467
13    2013-01-14      1   14  2013   94.270000  0.942700
14    2013-01-15      1   15  2013   93.260000  0.932600
15    2013-01-16      1   16  2013   94.280000  0.942800
16    2013-01-17      1   17  2013   95.490000  0.954900
17    2013-01-18      1   18  2013   95.610000  0.956100
18    2013-01-19      1   19  2013   95.730000  0.957300
19    2013-01-20      1   20  2013   95.850000  0.958500
20    2013-01-21      1   21  2013   95.970000  0.959700
21    2013-01-22      1   22  2013   96.090000  0.960900
22    2013-01-23      1   23  2013   95.060000  0.950600
23    2013-01-24      1   24  2013   95.350000  0.953500
24    2013-01-25      1   25  2013   95.150000  0.951500
25    2013-01-26      1   26  2013   95.416667  0.954167
26    2013-01-27      1   27  2013   95.683333  0.956833
27    2013-01-28      1   28  2013   95.950000  0.959500
28    2013-01-29      1   29  2013   97.620000  0.976200
29    2013-01-30      1   30  2013   97.980000  0.979800
...          ...    ...  ...   ...         ...       ...
1674  2017-08-02      8    2  2017   49.600000  0.496000
1675  2017-08-03      8    3  2017   49.030000  0.490300
1676  2017-08-04      8    4  2017   49.570000  0.495700
1677  2017-08-05      8    5  2017   49.503333  0.495033
1678  2017-08-06      8    6  2017   49.436667  0.494367
1679  2017-08-07      8    7  2017   49.370000  0.493700
1680  2017-08-08      8    8  2017   49.070000  0.490700
1681  2017-08-09      8    9  2017   49.590000  0.495900
1682  2017-08-10      8   10  2017   48.540000  0.485400
1683  2017-08-11      8   11  2017   48.810000  0.488100
1684  2017-08-12      8   12  2017   48.403333  0.484033
1685  2017-08-13      8   13  2017   47.996667  0.479967
1686  2017-08-14      8   14  2017   47.590000  0.475900
1687  2017-08-15      8   15  2017   47.570000  0.475700
1688  2017-08-16      8   16  2017   46.800000  0.468000
1689  2017-08-17      8   17  2017   47.070000  0.470700
1690  2017-08-18      8   18  2017   48.590000  0.485900
1691  2017-08-19      8   19  2017   48.190000  0.481900
1692  2017-08-20      8   20  2017   47.790000  0.477900
1693  2017-08-21      8   21  2017   47.390000  0.473900
1694  2017-08-22      8   22  2017   47.650000  0.476500
1695  2017-08-23      8   23  2017   48.450000  0.484500
1696  2017-08-24      8   24  2017   47.240000  0.472400
1697  2017-08-25      8   25  2017   47.650000  0.476500
1698  2017-08-26      8   26  2017   47.233333  0.472333
1699  2017-08-27      8   27  2017   46.816667  0.468167
1700  2017-08-28      8   28  2017   46.400000  0.464000
1701  2017-08-29      8   29  2017   46.460000  0.464600
1702  2017-08-30      8   30  2017   45.960000  0.459600
1703  2017-08-31      8   31  2017   47.260000  0.472600

[1704 rows x 6 columns]

In [11]:
oil_df['oil_change'] = 0.00

In [12]:
for ix, row in oil_df.iterrows():
    if ix == 0:
        prev = row['dcoilwtico']
    else:
        new = (row['dcoilwtico'] - prev)
        oil_df.set_value(ix,'oil_change',new)
        prev = row['dcoilwtico']

/Users/carleton/anaconda3/envs/repos/lib/python3.6/site-packages/ipykernel_launcher.py:6: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

In [13]:
oil_df

            date  month  day  year  dcoilwtico   oil/100  oil_change
0     2013-01-01      1    1  2013   93.140000  0.931400    0.000000
1     2013-01-02      1    2  2013   93.140000  0.931400    0.000000
2     2013-01-03      1    3  2013   92.970000  0.929700   -0.170000
3     2013-01-04      1    4  2013   93.120000  0.931200    0.150000
4     2013-01-05      1    5  2013   93.146667  0.931467    0.026667
5     2013-01-06      1    6  2013   93.173333  0.931733    0.026667
6     2013-01-07      1    7  2013   93.200000  0.932000    0.026667
7     2013-01-08      1    8  2013   93.210000  0.932100    0.010000
8     2013-01-09      1    9  2013   93.080000  0.930800   -0.130000
9     2013-01-10      1   10  2013   93.810000  0.938100    0.730000
10    2013-01-11      1   11  2013   93.600000  0.936000   -0.210000
11    2013-01-12      1   12  2013   93.823333  0.938233    0.223333
12    2013-01-13      1   13  2013   94.046667  0.940467    0.223333
13    2013-01-14      1   14  2013   94.270000  0.942700    0.223333
14    2013-01-15      1   15  2013   93.260000  0.932600   -1.010000
15    2013-01-16      1   16  2013   94.280000  0.942800    1.020000
16    2013-01-17      1   17  2013   95.490000  0.954900    1.210000
17    2013-01-18      1   18  2013   95.610000  0.956100    0.120000
18    2013-01-19      1   19  2013   95.730000  0.957300    0.120000
19    2013-01-20      1   20  2013   95.850000  0.958500    0.120000
20    2013-01-21      1   21  2013   95.970000  0.959700    0.120000
21    2013-01-22      1   22  2013   96.090000  0.960900    0.120000
22    2013-01-23      1   23  2013   95.060000  0.950600   -1.030000
23    2013-01-24      1   24  2013   95.350000  0.953500    0.290000
24    2013-01-25      1   25  2013   95.150000  0.951500   -0.200000
25    2013-01-26      1   26  2013   95.416667  0.954167    0.266667
26    2013-01-27      1   27  2013   95.683333  0.956833    0.266667
27    2013-01-28      1   28  2013   95.950000  0.959500    0.266667
28    2013-01-29      1   29  2013   97.620000  0.976200    1.670000
29    2013-01-30      1   30  2013   97.980000  0.979800    0.360000
...          ...    ...  ...   ...         ...       ...         ...
1674  2017-08-02      8    2  2017   49.600000  0.496000    0.410000
1675  2017-08-03      8    3  2017   49.030000  0.490300   -0.570000
1676  2017-08-04      8    4  2017   49.570000  0.495700    0.540000
1677  2017-08-05      8    5  2017   49.503333  0.495033   -0.066667
1678  2017-08-06      8    6  2017   49.436667  0.494367   -0.066667
1679  2017-08-07      8    7  2017   49.370000  0.493700   -0.066667
1680  2017-08-08      8    8  2017   49.070000  0.490700   -0.300000
1681  2017-08-09      8    9  2017   49.590000  0.495900    0.520000
1682  2017-08-10      8   10  2017   48.540000  0.485400   -1.050000
1683  2017-08-11      8   11  2017   48.810000  0.488100    0.270000
1684  2017-08-12      8   12  2017   48.403333  0.484033   -0.406667
1685  2017-08-13      8   13  2017   47.996667  0.479967   -0.406667
1686  2017-08-14      8   14  2017   47.590000  0.475900   -0.406667
1687  2017-08-15      8   15  2017   47.570000  0.475700   -0.020000
1688  2017-08-16      8   16  2017   46.800000  0.468000   -0.770000
1689  2017-08-17      8   17  2017   47.070000  0.470700    0.270000
1690  2017-08-18      8   18  2017   48.590000  0.485900    1.520000
1691  2017-08-19      8   19  2017   48.190000  0.481900   -0.400000
1692  2017-08-20      8   20  2017   47.790000  0.477900   -0.400000
1693  2017-08-21      8   21  2017   47.390000  0.473900   -0.400000
1694  2017-08-22      8   22  2017   47.650000  0.476500    0.260000
1695  2017-08-23      8   23  2017   48.450000  0.484500    0.800000
1696  2017-08-24      8   24  2017   47.240000  0.472400   -1.210000
1697  2017-08-25      8   25  2017   47.650000  0.476500    0.410000
1698  2017-08-26      8   26  2017   47.233333  0.472333   -0.416667
1699  2017-08-27      8   27  2017   46.816667  0.468167   -0.416667
1700  2017-08-28      8   28  2017   46.400000  0.464000   -0.416667
1701  2017-08-29      8   29  2017   46.460000  0.464600    0.060000
1702  2017-08-30      8   30  2017   45.960000  0.459600   -0.500000
1703  2017-08-31      8   31  2017   47.260000  0.472600    1.300000

[1704 rows x 7 columns]

In [14]:
oil_df.to_csv('new_data/new_oil.csv', index=False)

In [15]:
oil_df = pd.read_csv('new_data/new_oil.csv')

In [16]:
train_dates = pd.read_csv('new_data/train_dates.csv')
test_dates = pd.read_csv('new_data/test_dates.csv')

In [17]:
train_oil = train_dates.merge(oil_df, on=['date','month','day','year'], how='left')
train_oil

            date  month  day  year  dcoilwtico   oil/100  oil_change
0     2013-01-01      1    1  2013   93.140000  0.931400    0.000000
1     2013-01-02      1    2  2013   93.140000  0.931400    0.000000
2     2013-01-03      1    3  2013   92.970000  0.929700   -0.170000
3     2013-01-04      1    4  2013   93.120000  0.931200    0.150000
4     2013-01-05      1    5  2013   93.146667  0.931467    0.026667
5     2013-01-06      1    6  2013   93.173333  0.931733    0.026667
6     2013-01-07      1    7  2013   93.200000  0.932000    0.026667
7     2013-01-08      1    8  2013   93.210000  0.932100    0.010000
8     2013-01-09      1    9  2013   93.080000  0.930800   -0.130000
9     2013-01-10      1   10  2013   93.810000  0.938100    0.730000
10    2013-01-11      1   11  2013   93.600000  0.936000   -0.210000
11    2013-01-12      1   12  2013   93.823333  0.938233    0.223333
12    2013-01-13      1   13  2013   94.046667  0.940467    0.223333
13    2013-01-14      1   14  2013   94.270000  0.942700    0.223333
14    2013-01-15      1   15  2013   93.260000  0.932600   -1.010000
15    2013-01-16      1   16  2013   94.280000  0.942800    1.020000
16    2013-01-17      1   17  2013   95.490000  0.954900    1.210000
17    2013-01-18      1   18  2013   95.610000  0.956100    0.120000
18    2013-01-19      1   19  2013   95.730000  0.957300    0.120000
19    2013-01-20      1   20  2013   95.850000  0.958500    0.120000
20    2013-01-21      1   21  2013   95.970000  0.959700    0.120000
21    2013-01-22      1   22  2013   96.090000  0.960900    0.120000
22    2013-01-23      1   23  2013   95.060000  0.950600   -1.030000
23    2013-01-24      1   24  2013   95.350000  0.953500    0.290000
24    2013-01-25      1   25  2013   95.150000  0.951500   -0.200000
25    2013-01-26      1   26  2013   95.416667  0.954167    0.266667
26    2013-01-27      1   27  2013   95.683333  0.956833    0.266667
27    2013-01-28      1   28  2013   95.950000  0.959500    0.266667
28    2013-01-29      1   29  2013   97.620000  0.976200    1.670000
29    2013-01-30      1   30  2013   97.980000  0.979800    0.360000
...          ...    ...  ...   ...         ...       ...         ...
1658  2017-07-17      7   17  2017   46.020000  0.460200   -0.170000
1659  2017-07-18      7   18  2017   46.400000  0.464000    0.380000
1660  2017-07-19      7   19  2017   47.100000  0.471000    0.700000
1661  2017-07-20      7   20  2017   46.730000  0.467300   -0.370000
1662  2017-07-21      7   21  2017   45.780000  0.457800   -0.950000
1663  2017-07-22      7   22  2017   45.923333  0.459233    0.143333
1664  2017-07-23      7   23  2017   46.066667  0.460667    0.143333
1665  2017-07-24      7   24  2017   46.210000  0.462100    0.143333
1666  2017-07-25      7   25  2017   47.770000  0.477700    1.560000
1667  2017-07-26      7   26  2017   48.580000  0.485800    0.810000
1668  2017-07-27      7   27  2017   49.050000  0.490500    0.470000
1669  2017-07-28      7   28  2017   49.720000  0.497200    0.670000
1670  2017-07-29      7   29  2017   49.883333  0.498833    0.163333
1671  2017-07-30      7   30  2017   50.046667  0.500467    0.163333
1672  2017-07-31      7   31  2017   50.210000  0.502100    0.163333
1673  2017-08-01      8    1  2017   49.190000  0.491900   -1.020000
1674  2017-08-02      8    2  2017   49.600000  0.496000    0.410000
1675  2017-08-03      8    3  2017   49.030000  0.490300   -0.570000
1676  2017-08-04      8    4  2017   49.570000  0.495700    0.540000
1677  2017-08-05      8    5  2017   49.503333  0.495033   -0.066667
1678  2017-08-06      8    6  2017   49.436667  0.494367   -0.066667
1679  2017-08-07      8    7  2017   49.370000  0.493700   -0.066667
1680  2017-08-08      8    8  2017   49.070000  0.490700   -0.300000
1681  2017-08-09      8    9  2017   49.590000  0.495900    0.520000
1682  2017-08-10      8   10  2017   48.540000  0.485400   -1.050000
1683  2017-08-11      8   11  2017   48.810000  0.488100    0.270000
1684  2017-08-12      8   12  2017   48.403333  0.484033   -0.406667
1685  2017-08-13      8   13  2017   47.996667  0.479967   -0.406667
1686  2017-08-14      8   14  2017   47.590000  0.475900   -0.406667
1687  2017-08-15      8   15  2017   47.570000  0.475700   -0.020000

[1688 rows x 7 columns]

In [18]:
test_oil = test_dates.merge(oil_df, on=['date','month','day','year'], how='left')
test_oil

          date  month  day  year  dcoilwtico   oil/100  oil_change
0   2017-08-16      8   16  2017   46.800000  0.468000   -0.770000
1   2017-08-17      8   17  2017   47.070000  0.470700    0.270000
2   2017-08-18      8   18  2017   48.590000  0.485900    1.520000
3   2017-08-19      8   19  2017   48.190000  0.481900   -0.400000
4   2017-08-20      8   20  2017   47.790000  0.477900   -0.400000
5   2017-08-21      8   21  2017   47.390000  0.473900   -0.400000
6   2017-08-22      8   22  2017   47.650000  0.476500    0.260000
7   2017-08-23      8   23  2017   48.450000  0.484500    0.800000
8   2017-08-24      8   24  2017   47.240000  0.472400   -1.210000
9   2017-08-25      8   25  2017   47.650000  0.476500    0.410000
10  2017-08-26      8   26  2017   47.233333  0.472333   -0.416667
11  2017-08-27      8   27  2017   46.816667  0.468167   -0.416667
12  2017-08-28      8   28  2017   46.400000  0.464000   -0.416667
13  2017-08-29      8   29  2017   46.460000  0.464600    0.060000
14  2017-08-30      8   30  2017   45.960000  0.459600   -0.500000
15  2017-08-31      8   31  2017   47.260000  0.472600    1.300000

In [19]:
train_oil.to_csv('new_data/train_oil.csv', index=False)
test_oil.to_csv('new_data/test_oil.csv', index=False)