In [1]:
import pandas as pd

In [2]:
sample_submission = pd.read_csv('data/sample_submission.csv')
sample_submission

                id  unit_sales
0        125497040           0
1        125497041           0
2        125497042           0
3        125497043           0
4        125497044           0
5        125497045           0
6        125497046           0
7        125497047           0
8        125497048           0
9        125497049           0
10       125497050           0
11       125497051           0
12       125497052           0
13       125497053           0
14       125497054           0
15       125497055           0
16       125497056           0
17       125497057           0
18       125497058           0
19       125497059           0
20       125497060           0
21       125497061           0
22       125497062           0
23       125497063           0
24       125497064           0
25       125497065           0
26       125497066           0
27       125497067           0
28       125497068           0
29       125497069           0
...            ...         ...
3370434  128867474           0
3370435  128867475           0
3370436  128867476           0
3370437  128867477           0
3370438  128867478           0
3370439  128867479           0
3370440  128867480           0
3370441  128867481           0
3370442  128867482           0
3370443  128867483           0
3370444  128867484           0
3370445  128867485           0
3370446  128867486           0
3370447  128867487           0
3370448  128867488           0
3370449  128867489           0
3370450  128867490           0
3370451  128867491           0
3370452  128867492           0
3370453  128867493           0
3370454  128867494           0
3370455  128867495           0
3370456  128867496           0
3370457  128867497           0
3370458  128867498           0
3370459  128867499           0
3370460  128867500           0
3370461  128867501           0
3370462  128867502           0
3370463  128867503           0

[3370464 rows x 2 columns]