In [1]:
import pandas as pd
from collections import Counter

In [2]:
training_dates = pd.read_csv('modified_data/training_dates.csv')
training_dates

            date  month  day  year
0     2013-01-01      1    1  2013
1     2013-01-02      1    2  2013
2     2013-01-03      1    3  2013
3     2013-01-04      1    4  2013
4     2013-01-05      1    5  2013
5     2013-01-06      1    6  2013
6     2013-01-07      1    7  2013
7     2013-01-08      1    8  2013
8     2013-01-09      1    9  2013
9     2013-01-10      1   10  2013
10    2013-01-11      1   11  2013
11    2013-01-12      1   12  2013
12    2013-01-13      1   13  2013
13    2013-01-14      1   14  2013
14    2013-01-15      1   15  2013
15    2013-01-16      1   16  2013
16    2013-01-17      1   17  2013
17    2013-01-18      1   18  2013
18    2013-01-19      1   19  2013
19    2013-01-20      1   20  2013
20    2013-01-21      1   21  2013
21    2013-01-22      1   22  2013
22    2013-01-23      1   23  2013
23    2013-01-24      1   24  2013
24    2013-01-25      1   25  2013
25    2013-01-26      1   26  2013
26    2013-01-27      1   27  2013
27    2013-01-28      1   28  2013
28    2013-01-29      1   29  2013
29    2013-01-30      1   30  2013
...          ...    ...  ...   ...
1658  2017-07-17      7   17  2017
1659  2017-07-18      7   18  2017
1660  2017-07-19      7   19  2017
1661  2017-07-20      7   20  2017
1662  2017-07-21      7   21  2017
1663  2017-07-22      7   22  2017
1664  2017-07-23      7   23  2017
1665  2017-07-24      7   24  2017
1666  2017-07-25      7   25  2017
1667  2017-07-26      7   26  2017
1668  2017-07-27      7   27  2017
1669  2017-07-28      7   28  2017
1670  2017-07-29      7   29  2017
1671  2017-07-30      7   30  2017
1672  2017-07-31      7   31  2017
1673  2017-08-01      8    1  2017
1674  2017-08-02      8    2  2017
1675  2017-08-03      8    3  2017
1676  2017-08-04      8    4  2017
1677  2017-08-05      8    5  2017
1678  2017-08-06      8    6  2017
1679  2017-08-07      8    7  2017
1680  2017-08-08      8    8  2017
1681  2017-08-09      8    9  2017
1682  2017-08-10      8   10  2017
1683  2017-08-11      8   11  2017
1684  2017-08-12      8   12  2017
1685  2017-08-13      8   13  2017
1686  2017-08-14      8   14  2017
1687  2017-08-15      8   15  2017

[1688 rows x 4 columns]

In [3]:
transactions_df = pd.read_csv('data/transactions.csv')
transactions_df

             date  store_nbr  transactions
0      2013-01-01         25           770
1      2013-01-02          1          2111
2      2013-01-02          2          2358
3      2013-01-02          3          3487
4      2013-01-02          4          1922
5      2013-01-02          5          1903
6      2013-01-02          6          2143
7      2013-01-02          7          1874
8      2013-01-02          8          3250
9      2013-01-02          9          2940
10     2013-01-02         10          1293
11     2013-01-02         11          3547
12     2013-01-02         12          1362
13     2013-01-02         13          1102
14     2013-01-02         14          2002
15     2013-01-02         15          1622
16     2013-01-02         16          1167
17     2013-01-02         17          1580
18     2013-01-02         18          1635
19     2013-01-02         19          1369
20     2013-01-02         23          1381
21     2013-01-02         24          2605
22     2013-01-02         25          1038
23     2013-01-02         26          1008
24     2013-01-02         27          1386
25     2013-01-02         28           950
26     2013-01-02         30           708
27     2013-01-02         31          1401
28     2013-01-02         32           776
29     2013-01-02         33          1163
...           ...        ...           ...
83458  2017-08-15         25           849
83459  2017-08-15         26           534
83460  2017-08-15         27          1543
83461  2017-08-15         28          1343
83462  2017-08-15         29          1302
83463  2017-08-15         30           825
83464  2017-08-15         31          1360
83465  2017-08-15         32           615
83466  2017-08-15         33           919
83467  2017-08-15         34          2007
83468  2017-08-15         35           612
83469  2017-08-15         36          1192
83470  2017-08-15         37          1373
83471  2017-08-15         38          1445
83472  2017-08-15         39          1425
83473  2017-08-15         40          1392
83474  2017-08-15         41          1003
83475  2017-08-15         42           995
83476  2017-08-15         43          1482
83477  2017-08-15         44          3815
83478  2017-08-15         45          3685
83479  2017-08-15         46          3197
83480  2017-08-15         47          3581
83481  2017-08-15         48          2722
83482  2017-08-15         49          2814
83483  2017-08-15         50          2804
83484  2017-08-15         51          1573
83485  2017-08-15         52          2255
83486  2017-08-15         53           932
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [4]:
# sort by store number
# look at distribution--mean/med/min/max
# throw in chart for insights perhaps?

In [7]:
transactions_df.sort_values(['store_nbr', 'date'], inplace=True)
transactions_df

             date  store_nbr  transactions
1      2013-01-02          1          2111
47     2013-01-03          1          1833
93     2013-01-04          1          1863
139    2013-01-05          1          1509
185    2013-01-06          1           520
231    2013-01-07          1          1807
277    2013-01-08          1          1869
323    2013-01-09          1          1910
369    2013-01-10          1          1679
415    2013-01-11          1          1813
461    2013-01-12          1          1473
507    2013-01-13          1           542
553    2013-01-14          1          1780
599    2013-01-15          1          1680
645    2013-01-16          1          1933
691    2013-01-17          1          1786
737    2013-01-18          1          1745
783    2013-01-19          1          1389
829    2013-01-20          1           507
875    2013-01-21          1          1770
921    2013-01-22          1          1762
967    2013-01-23          1          1873
1013   2013-01-24          1          1616
1059   2013-01-25          1          1770
1105   2013-01-26          1          1295
1151   2013-01-27          1           542
1197   2013-01-28          1          1738
1243   2013-01-29          1          1772
1289   2013-01-30          1          1877
1335   2013-01-31          1          1707
...           ...        ...           ...
81921  2017-07-17         54           864
81975  2017-07-18         54           742
82029  2017-07-19         54           664
82083  2017-07-20         54           647
82137  2017-07-21         54           676
82191  2017-07-22         54           876
82245  2017-07-23         54           926
82299  2017-07-24         54           792
82353  2017-07-25         54           727
82407  2017-07-26         54           700
82461  2017-07-27         54           662
82515  2017-07-28         54           766
82569  2017-07-29         54           870
82623  2017-07-30         54          1108
82677  2017-07-31         54           860
82731  2017-08-01         54           841
82785  2017-08-02         54           747
82839  2017-08-03         54           712
82893  2017-08-04         54           757
82947  2017-08-05         54           867
83001  2017-08-06         54          1065
83055  2017-08-07         54           842
83109  2017-08-08         54           752
83163  2017-08-09         54           748
83217  2017-08-10         54           670
83271  2017-08-11         54           768
83325  2017-08-12         54           903
83379  2017-08-13         54          1054
83433  2017-08-14         54           818
83487  2017-08-15         54           802

[83488 rows x 3 columns]

In [11]:
trans_groups = transactions_df.groupby('store_nbr')

In [12]:
trans_groups.describe(include='all')

           date                                                         ...    \
          count unique         top freq mean  std  min  25%  50%  75%   ...
store_nbr                                                               ...
1          1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
2          1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
3          1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
4          1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
5          1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
6          1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
7          1675   1675  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
8          1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
9          1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
10         1675   1675  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
11         1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
12         1616   1616  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
13         1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
14         1638   1638  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
15         1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
16         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
17         1674   1674  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
18         1566   1566  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
19         1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
20          909    909  2017-08-05    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
21          748    748  2017-05-23    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
22          671    671  2017-05-23    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
23         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
24         1577   1577  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
25         1615   1615  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
26         1678   1678  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
27         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
28         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
29          874    874  2016-05-19    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
30         1655   1655  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
31         1678   1678  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
32         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
33         1678   1678  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
34         1678   1678  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
35         1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
36         1551   1551  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
37         1678   1678  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
38         1678   1678  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
39         1678   1678  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
40         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
41         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
42          720    720  2017-05-23    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
43         1672   1672  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
44         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
45         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
46         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
47         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
48         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
49         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
50         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
51         1677   1677  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
52          118    118  2017-05-23    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
53         1167   1167  2017-08-05    1  NaN  NaN  NaN  NaN  NaN  NaN   ...
54         1676   1676  2013-09-02    1  NaN  NaN  NaN  NaN  NaN  NaN   ...

          transactions                                                     \
                unique top freq         mean         std     min      25%
store_nbr
1                  NaN NaN  NaN  1523.844272  503.577771    10.0  1325.75
2                  NaN NaN  NaN  1920.036374  226.496662     6.0  1795.00
3                  NaN NaN  NaN  3201.879475  435.543650  2213.0  2888.75
4                  NaN NaN  NaN  1502.987470  228.510746   785.0  1355.00
5                  NaN NaN  NaN  1400.045915  225.305906   721.0  1263.00
6                  NaN NaN  NaN  1829.293556  299.100268  1380.0  1621.00
7                  NaN NaN  NaN  1788.652537  196.749730  1050.0  1684.50
8                  NaN NaN  NaN  2767.285800  311.196509  1360.0  2595.00
9                  NaN NaN  NaN  2097.948687  325.027157  1462.0  1867.00
10                 NaN NaN  NaN   986.562985  172.061466   615.0   866.50
11                 NaN NaN  NaN  2370.219570  350.507653  1678.0  2121.00
12                 NaN NaN  NaN  1212.160891  118.067704   858.0  1140.00
13                 NaN NaN  NaN   938.248210  158.760277   653.0   831.75
14                 NaN NaN  NaN  1396.733822  253.353194   750.0  1227.00
15                 NaN NaN  NaN  1318.554893  165.948069   503.0  1236.00
16                 NaN NaN  NaN   873.284436  167.669644   238.0   751.00
17                 NaN NaN  NaN  1371.257467  214.416600   898.0  1218.25
18                 NaN NaN  NaN  1322.655172  159.238956   704.0  1230.00
19                 NaN NaN  NaN  1257.451671  271.138417   860.0  1086.00
20                 NaN NaN  NaN  1564.949395  394.990843   992.0  1291.00
21                 NaN NaN  NaN  1126.859626  345.136118   612.0   906.00
22                 NaN NaN  NaN   751.350224  144.880531   517.0   673.50
23                 NaN NaN  NaN  1066.291592  126.724276   776.0   985.00
24                 NaN NaN  NaN  2262.654407  328.742048   823.0  2087.00
25                 NaN NaN  NaN   941.400619  421.949030   381.0   695.00
26                 NaN NaN  NaN   634.719309  189.090345   353.0   513.00
27                 NaN NaN  NaN  1482.222421  273.141804   371.0  1291.00
28                 NaN NaN  NaN  1167.319022  247.660120   618.0   992.00
29                 NaN NaN  NaN  1122.938215  200.319260   698.0   982.00
30                 NaN NaN  NaN   707.631420   83.302806    97.0   665.00
31                 NaN NaN  NaN  1374.281287  248.737999   809.0  1224.00
32                 NaN NaN  NaN   635.197376  102.568662   444.0   571.00
33                 NaN NaN  NaN  1038.738379  188.122808   640.0   915.00
34                 NaN NaN  NaN  2302.752086  311.614936  1022.0  2089.00
35                 NaN NaN  NaN   670.578162  124.522987   393.0   591.00
36                 NaN NaN  NaN  1120.650548  199.351330   349.0   999.50
37                 NaN NaN  NaN  1478.974374  219.119872   675.0  1368.00
38                 NaN NaN  NaN  1708.612634  399.635523   954.0  1418.00
39                 NaN NaN  NaN  1424.005959  228.591023   898.0  1270.00
40                 NaN NaN  NaN  1300.652952  192.750652   556.0  1174.00
41                 NaN NaN  NaN  1051.965414  224.282422   646.0   902.00
42                 NaN NaN  NaN  1114.786111  218.067186   749.0   965.75
43                 NaN NaN  NaN  1305.236842  187.682567     5.0  1187.00
44                 NaN NaN  NaN  4336.966607  729.914193  2333.0  3810.00
45                 NaN NaN  NaN  3697.742993  690.231927   292.0  3172.00
46                 NaN NaN  NaN  3571.921884  854.048998  2293.0  2947.00
47                 NaN NaN  NaN  3897.322600  716.763182   765.0  3367.00
48                 NaN NaN  NaN  3045.787120  814.882468  1833.0  2441.00
49                 NaN NaN  NaN  2727.550984  629.057207  1376.0  2355.00
50                 NaN NaN  NaN  2614.456768  533.064723  1769.0  2230.00
51                 NaN NaN  NaN  1713.544425  266.467374   989.0  1526.00
52                 NaN NaN  NaN  2333.838983  548.098515  1649.0  1907.75
53                 NaN NaN  NaN  1011.209940  316.108572    33.0   777.50
54                 NaN NaN  NaN   865.924821  169.058412   179.0   747.00


              50%      75%     max
store_nbr
1          1746.0  1832.00  3023.0
2          1889.0  2006.00  4060.0
3          3100.5  3457.00  6085.0
4          1455.0  1613.00  3589.0
5          1379.0  1496.00  3468.0
6          1729.0  2037.00  4256.0
7          1790.0  1892.00  3023.0
8          2740.5  2887.25  5261.0
9          2045.0  2271.00  4624.0
10          962.0  1082.00  2242.0
11         2300.0  2559.00  5018.0
12         1196.0  1265.00  2363.0
13          894.0   999.00  1795.0
14         1365.0  1534.75  2510.0
15         1330.0  1416.25  2314.0
16          849.0   965.00  1861.0
17         1345.0  1483.75  3176.0
18         1314.0  1402.00  2623.0
19         1174.0  1293.25  2370.0
20         1426.0  1770.00  4500.0
21         1019.0  1293.25  3354.0
22          730.0   791.00  2412.0
23         1050.0  1125.00  2236.0
24         2280.0  2439.00  4353.0
25          819.0   999.00  3401.0
26          591.0   709.00  2184.0
27         1449.0  1679.00  2455.0
28         1116.0  1305.00  2498.0
29         1090.0  1237.00  2599.0
30          701.0   739.00  1443.0
31         1329.0  1478.00  3594.0
32          615.0   680.00  1497.0
33         1016.0  1145.50  2489.0
34         2275.5  2465.00  3636.0
35          656.0   738.00  1676.0
36         1098.0  1208.00  2586.0
37         1481.0  1588.75  3056.0
38         1585.0  1956.00  3577.0
39         1362.0  1559.00  2987.0
40         1299.0  1422.00  2263.0
41         1005.0  1171.00  2413.0
42         1053.0  1249.25  2368.0
43         1288.0  1399.00  2850.0
44         4170.0  4786.00  8359.0
45         3515.0  4211.00  7305.0
46         3230.0  4243.00  8001.0
47         3685.0  4413.00  7727.0
48         2705.0  3689.00  7044.0
49         2671.0  3097.00  6600.0
50         2448.0  2988.00  5456.0
51         1685.0  1833.00  3572.0
52         2154.5  2652.00  4209.0
53          953.0  1154.50  2737.0
54          822.0   947.25  1811.0

[54 rows x 22 columns]

In [28]:
stores_df = training_dates

for name, group in trans_groups:
    suff = '_'+str(name)
    new_name = 'transactions'+suff
    group = group.drop('store_nbr', axis=1)
    group = group.rename(columns={'transactions': new_name})
    stores_df = stores_df.merge(group, on='date', how='left')

stores_df

,date,month,day,year,transactions_1,transactions_2,transactions_3,transactions_4,transactions_5,transactions_6,...,transactions_45,transactions_46,transactions_47,transactions_48,transactions_49,transactions_50,transactions_51,transactions_52,transactions_53,transactions_54
0,2013-01-01,1,1,2013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-01-02,1,2,2013,2111.0,2358.0,3487.0,1922.0,1903.0,2143.0,...,4208.0,4886.0,4161.0,3397.0,2346.0,3077.0,1985.0,NaN,NaN,998.0
2,2013-01-03,1,3,2013,1833.0,2033.0,3026.0,1551.0,1740.0,1795.0,...,3314.0,3438.0,3660.0,2887.0,1702.0,2307.0,1644.0,NaN,NaN,920.0
3,2013-01-04,1,4,2013,1863.0,2066.0,3188.0,1596.0,1642.0,1679.0,...,3630.0,3434.0,3915.0,2900.0,2016.0,2698.0,1786.0,NaN,NaN,794.0
4,2013-01-05,1,5,2013,1509.0,2062.0,3623.0,1825.0,1643.0,2154.0,...,4331.0,4935.0,4764.0,4084.0,2562.0,3459.0,2068.0,NaN,NaN,949.0
5,2013-01-06,1,6,2013,520.0,1992.0,3590.0,1891.0,1754.0,2313.0,...,4418.0,5401.0,4935.0,4591.0,2795.0,3297.0,1934.0,NaN,NaN,1180.0
6,2013-01-07,1,7,2013,1807.0,1911.0,2996.0,1514.0,1577.0,1713.0,...,3339.0,3205.0,3570.0,2697.0,1719.0,2371.0,1637.0,NaN,NaN,890.0
7,2013-01-08,1,8,2013,1869.0,1856.0,2826.0,1397.0,1504.0,1555.0,...,3102.0,3061.0,3185.0,2320.0,1609.0,2251.0,1613.0,NaN,NaN,729.0
8,2013-01-09,1,9,2013,1910.0,1975.0,2932.0,1533.0,1513.0,1702.0,...,3268.0,2989.0,3370.0,2316.0,1776.0,2228.0,1786.0,NaN,NaN,730.0
9,2013-01-10,1,10,2013,1679.0,1761.0,2649.0,1326.0,1449.0,1422.0,...,2697.0,2627.0,2982.0,2212.0,1481.0,2052.0,1515.0,NaN,NaN,684.0
10,2013-01-11,1,11,2013,1813.0,1786.0,2954.0,1398.0,1446.0,1563.0,...,3083.0,2892.0,3312.0,2396.0,1768.0,2226.0,1658.0,NaN,NaN,766.0
11,2013-01-12,1,12,2013,1473.0,1998.0,3407.0,1543.0,1553.0,2020.0,...,3927.0,4263.0,4278.0,3355.0,2309.0,3258.0,1873.0,NaN,NaN,954.0
12,2013-01-13,1,13,2013,542.0,1988.0,3217.0,1873.0,1510.0,2219.0,...,4345.0,4713.0,4796.0,3993.0,2662.0,3261.0,1808.0,NaN,NaN,1225.0
13,2013-01-14,1,14,2013,1780.0,1713.0,2785.0,1321.0,1457.0,1545.0,...,2937.0,2780.0,3145.0,2223.0,1525.0,2150.0,1491.0,NaN,NaN,759.0
14,2013-01-15,1,15,2013,1680.0,1806.0,2757.0,1385.0,1450.0,1619.0,...,3016.0,2973.0,3305.0,2275.0,1571.0,2001.0,1604.0,NaN,NaN,768.0
15,2013-01-16,1,16,2013,1933.0,1988.0,3108.0,1557.0,1461.0,1677.0,...,3183.0,3034.0,3406.0,2343.0,1780.0,2302.0,1852.0,NaN,NaN,686.0
16,2013-01-17,1,17,2013,1786.0,1672.0,2653.0,1296.0,1458.0,1547.0,...,2773.0,2807.0,3217.0,2234.0,1568.0,2012.0,1551.0,NaN,NaN,727.0
17,2013-01-18,1,18,2013,1745.0,1901.0,2936.0,1493.0,1378.0,1548.0,...,3263.0,2907.0,3302.0,2341.0,1804.0,2242.0,1796.0,NaN,NaN,779.0
18,2013-01-19,1,19,2013,1389.0,2043.0,3453.0,1705.0,1517.0,2132.0,...,3984.0,4372.0,4377.0,3392.0,2469.0,3426.0,1830.0,NaN,NaN,908.0
19,2013-01-20,1,20,2013,507.0,2006.0,3466.0,1742.0,1596.0,2202.0,...,4169.0,4696.0,4877.0,4044.0,2536.0,3195.0,1756.0,NaN,NaN,1178.0
20,2013-01-21,1,21,2013,1770.0,1864.0,2930.0,1458.0,1506.0,1602.0,...,3134.0,3186.0,3335.0,2428.0,1557.0,2227.0,1548.0,NaN,NaN,788.0
21,2013-01-22,1,22,2013,1762.0,1794.0,2721.0,1285.0,1459.0,1584.0,...,2759.0,2786.0,2973.0,2130.0,1500.0,2182.0,1489.0,NaN,NaN,768.0
22,2013-01-23,1,23,2013,1873.0,1951.0,2911.0,1465.0,1461.0,1740.0,...,2872.0,2901.0,3207.0,2179.0,1606.0,2186.0,1683.0,NaN,NaN,690.0
23,2013-01-24,1,24,2013,1616.0,1691.0,2503.0,1245.0,1319.0,1432.0,...,2592.0,2623.0,2738.0,1972.0,1468.0,2011.0,1437.0,NaN,NaN,617.0
24,2013-01-25,1,25,2013,1770.0,1949.0,2943.0,1498.0,1447.0,1620.0,...,3172.0,3109.0,3213.0,2262.0,1805.0,2264.0,1709.0,NaN,NaN,631.0
25,2013-01-26,1,26,2013,1295.0,1993.0,3394.0,1750.0,1540.0,2026.0,...,4168.0,4364.0,4363.0,3628.0,2503.0,3221.0,1814.0,NaN,NaN,917.0
26,2013-01-27,1,27,2013,542.0,1937.0,3355.0,1799.0,1412.0,2101.0,...,4131.0,4494.0,4641.0,3977.0,2413.0,3117.0,1707.0,NaN,NaN,1212.0
27,2013-01-28,1,28,2013,1738.0,1782.0,2681.0,1423.0,1451.0,1608.0,...,2872.0,2797.0,3150.0,2308.0,1507.0,2110.0,1522.0,NaN,NaN,821.0
28,2013-01-29,1,29,2013,1772.0,1794.0,2630.0,1327.0,1340.0,1447.0,...,2867.0,2723.0,2939.0,2134.0,1516.0,1998.0,1438.0,NaN,NaN,729.0
29,2013-01-30,1,30,2013,1877.0,2051.0,3035.0,1536.0,1422.0,1636.0,...,3022.0,3005.0,3258.0,2207.0,1619.0,2130.0,1704.0,NaN,NaN,692.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1658,2017-07-17,7,17,2017,1739.0,1729.0,2951.0,1207.0,1311.0,1626.0,...,3598.0,3105.0,3720.0,2576.0,2961.0,2507.0,1560.0,2006.0,1000.0,864.0
1659,2017-07-18,7,18,2017,1733.0,1694.0,2910.0,1216.0,1178.0,1532.0,...,3336.0,2902.0,3344.0,2453.0,2627.0,2607.0,1467.0,1777.0,962.0,742.0
1660,2017-07-19,7,19,2017,1797.0,1811.0,2944.0,1348.0,1333.0,1684.0,...,3598.0,2993.0,3492.0,2496.0,2838.0,2394.0,1757.0,2064.0,1064.0,664.0
1661,2017-07-20,7,20,2017,1774.0,1675.0,3046.0,1252.0,1262.0,1670.0,...,3490.0,3018.0,3663.0,2615.0,2714.0,2379.0,1515.0,2000.0,909.0,647.0
1662,2017-07-21,7,21,2017,1878.0,1892.0,3413.0,1461.0,1285.0,1799.0,...,3954.0,3196.0,3924.0,2788.0,3155.0,2643.0,1765.0,2255.0,1108.0,676.0
1663,2017-07-22,7,22,2017,1333.0,1968.0,3457.0,1553.0,1224.0,2008.0,...,4406.0,4187.0,4218.0,3417.0,3151.0,3161.0,1705.0,2629.0,1308.0,876.0
1664,2017-07-23,7,23,2017,547.0,1785.0,3453.0,1464.0,1216.0,1976.0,...,4557.0,4344.0,4368.0,3885.0,3262.0,3111.0,1576.0,2722.0,1316.0,926.0
1665,2017-07-24,7,24,2017,1807.0,1840.0,2989.0,1282.0,1265.0,1662.0,...,3560.0,3160.0,3550.0,2679.0,2752.0,2396.0,1617.0,1949.0,1009.0,792.0
1666,2017-07-25,7,25,2017,1785.0,1703.0,2823.0,1268.0,1179.0,1589.0,...,3279.0,2911.0,3267.0,2503.0,2545.0,2496.0,1468.0,2057.0,887.0,727.0
1667,2017-07-26,7,26,2017,1903.0,1848.0,2927.0,1323.0,1141.0,1602.0,...,3349.0,2839.0,3503.0,2412.0,2863.0,2396.0,1693.0,2021.0,1015.0,700.0
1668,2017-07-27,7,27,2017,1729.0,1711.0,2770.0,1207.0,1190.0,1500.0,...,3257.0,2821.0,3114.0,2506.0,2601.0,2272.0,1549.0,1891.0,896.0,662.0
1669,2017-07-28,7,28,2017,1848.0,1900.0,3318.0,1482.0,1259.0,1801.0,...,4053.0,3358.0,3752.0,2810.0,3175.0,2755.0,1789.0,2498.0,1050.0,766.0
1670,2017-07-29,7,29,2017,1251.0,1891.0,3408.0,1523.0,1343.0,1978.0,...,4462.0,4399.0,4340.0,3353.0,3163.0,3448.0,1869.0,3177.0,1326.0,870.0
1671,2017-07-30,7,30,2017,519.0,1824.0,3378.0,1535.0,1138.0,1950.0,...,4610.0,4305.0,4353.0,3753.0,3103.0,3069.0,1859.0,2580.0,1422.0,1108.0
1672,2017-07-31,7,31,2017,1872.0,1778.0,2983.0,1303.0,1305.0,1607.0,...,3790.0,3314.0,3775.0,2926.0,2912.0,2593.0,1572.0,2206.0,1065.0,860.0
1673,2017-08-01,8,1,2017,1795.0,1819.0,3066.0,1362.0,1365.0,1616.0,...,3701.0,3458.0,3846.0,3003.0,3034.0,2679.0,1685.0,2147.0,1074.0,841.0
1674,2017-08-02,8,2,2017,1892.0,1952.0,3275.0,1414.0,1411.0,1868.0,...,3851.0,3489.0,3936.0,3065.0,3169.0,2763.0,1810.0,2499.0,1201.0,747.0
1675,2017-08-03,8,3,2017,1726.0,1712.0,2962.0,1287.0,1227.0,1639.0,...,3598.0,3162.0,3688.0,2844.0,2780.0,2521.0,1499.0,2045.0,1004.0,712.0
1676,2017-08-04,8,4,2017,1847.0,1938.0,3412.0,1430.0,1289.0,1786.0,...,4132.0,3350.0,4010.0,2896.0,3216.0,2773.0,1885.0,2442.0,1177.0,757.0
1677,2017-08-05,8,5,2017,1251.0,1905.0,3489.0,1515.0,1415.0,1985.0,...,4684.0,4553.0,4499.0,3740.0,3266.0,3419.0,1991.0,2837.0,1280.0,867.0
1678,2017-08-06,8,6,2017,507.0,1905.0,3506.0,1453.0,1140.0,1918.0,...,4598.0,4400.0,4500.0,3941.0,3349.0,2969.0,1854.0,2711.0,1308.0,1065.0
1679,2017-08-07,8,7,2017,1665.0,1700.0,3046.0,1231.0,1348.0,1646.0,...,3756.0,3333.0,3808.0,2937.0,2860.0,2694.0,1528.0,2152.0,1009.0,842.0
1680,2017-08-08,8,8,2017,1766.0,1688.0,2835.0,1222.0,1183.0,1569.0,...,3476.0,3057.0,3424.0,2607.0,2635.0,2545.0,1469.0,1997.0,977.0,752.0
1681,2017-08-09,8,9,2017,1766.0,1786.0,2962.0,1325.0,1275.0,1649.0,...,3631.0,3173.0,3644.0,2590.0,2854.0,2480.0,1748.0,2300.0,1084.0,748.0
1682,2017-08-10,8,10,2017,1764.0,1695.0,2841.0,1281.0,1262.0,1527.0,...,3540.0,2937.0,3424.0,2627.0,2654.0,2600.0,1452.0,2165.0,994.0,670.0
1683,2017-08-11,8,11,2017,570.0,1698.0,2991.0,1301.0,1183.0,1747.0,...,4302.0,3814.0,4009.0,3220.0,3117.0,2971.0,1922.0,2957.0,1272.0,768.0
1684,2017-08-12,8,12,2017,1004.0,1613.0,3070.0,1304.0,1061.0,1706.0,...,3994.0,3697.0,3825.0,3198.0,2985.0,2987.0,1590.0,2804.0,1212.0,903.0
1685,2017-08-13,8,13,2017,416.0,1658.0,3075.0,1378.0,1098.0,1781.0,...,4054.0,3839.0,3741.0,3381.0,3028.0,2826.0,1816.0,2433.0,1164.0,1054.0
1686,2017-08-14,8,14,2017,1733.0,1788.0,3036.0,1285.0,1225.0,1593.0,...,3743.0,3274.0,3606.0,2824.0,2916.0,2555.0,1446.0,2074.0,895.0,818.0
1687,2017-08-15,8,15,2017,1693.0,1737.0,2956.0,1283.0,1310.0,1589.0,...,3685.0,3197.0,3581.0,2722.0,2814.0,2804.0,1573.0,2255.0,932.0,802.0

In [30]:
stores_df.describe()

,month,day,year,transactions_1,transactions_2,transactions_3,transactions_4,transactions_5,transactions_6,transactions_7,...,transactions_45,transactions_46,transactions_47,transactions_48,transactions_49,transactions_50,transactions_51,transactions_52,transactions_53,transactions_54
count,1688.000000,1688.000000,1688.000000,1676.000000,1677.000000,1676.000000,1676.000000,1677.000000,1676.000000,1675.000000,...,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,1677.000000,118.000000,1167.000000,1676.000000
mean,6.221564,15.652251,2014.837085,1523.844272,1920.036374,3201.879475,1502.987470,1400.045915,1829.293556,1788.652537,...,3697.742993,3571.921884,3897.322600,3045.787120,2727.550984,2614.456768,1713.544425,2333.838983,1011.209940,865.924821
std,3.394365,8.798774,1.345523,503.577771,226.496662,435.543650,228.510746,225.305906,299.100268,196.749730,...,690.231927,854.048998,716.763182,814.882468,629.057207,533.064723,266.467374,548.098515,316.108572,169.058412
min,1.000000,1.000000,2013.000000,10.000000,6.000000,2213.000000,785.000000,721.000000,1380.000000,1050.000000,...,292.000000,2293.000000,765.000000,1833.000000,1376.000000,1769.000000,989.000000,1649.000000,33.000000,179.000000
25%,3.000000,8.000000,2014.000000,1325.750000,1795.000000,2888.750000,1355.000000,1263.000000,1621.000000,1684.500000,...,3172.000000,2947.000000,3367.000000,2441.000000,2355.000000,2230.000000,1526.000000,1907.750000,777.500000,747.000000
50%,6.000000,16.000000,2015.000000,1746.000000,1889.000000,3100.500000,1455.000000,1379.000000,1729.000000,1790.000000,...,3515.000000,3230.000000,3685.000000,2705.000000,2671.000000,2448.000000,1685.000000,2154.500000,953.000000,822.000000
75%,9.000000,23.000000,2016.000000,1832.000000,2006.000000,3457.000000,1613.000000,1496.000000,2037.000000,1892.000000,...,4211.000000,4243.000000,4413.000000,3689.000000,3097.000000,2988.000000,1833.000000,2652.000000,1154.500000,947.250000
max,12.000000,31.000000,2017.000000,3023.000000,4060.000000,6085.000000,3589.000000,3468.000000,4256.000000,3023.000000,...,7305.000000,8001.000000,7727.000000,7044.000000,6600.000000,5456.000000,3572.000000,4209.000000,2737.000000,1811.000000

In [31]:
null_stores = stores_df.isnull()
null_stores.describe()

,date,month,day,year,transactions_1,transactions_2,transactions_3,transactions_4,transactions_5,transactions_6,...,transactions_45,transactions_46,transactions_47,transactions_48,transactions_49,transactions_50,transactions_51,transactions_52,transactions_53,transactions_54
count,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688,...,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688
unique,1,1,1,1,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
top,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
freq,1688,1688,1688,1688,1676,1677,1676,1676,1677,1676,...,1677,1677,1677,1677,1677,1677,1677,1570,1167,1676